.footer {
  background-color: rgb(172, 218, 248);
}
.jumbotron {
  /* 절대 경로 */
  background-image: url(/bs4/images/구름.jpg);
  /* 상대 경로 */
  /* background-image: url(../images/구름.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
a.page-link {
  border-width: 0px;
}
.avatar-sm {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
